body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif; 
}
header{
  text-align: center;
  background-color: white;
  color: black;
  padding: 10px;
}
nav{
  top:2px;
}
nav a{
  background-color:gray;
  padding: 5px;
  text-decoration:underline;
  color: blue;
}
#featured-property{
  text-align: center;
  margin: 20px;
  padding:20px;
}
#featured-property p{
  width: 800px;
  text-align: center;
  margin: 10px auto;
}
#details{
  background-color: red;
  padding: 20px;
  text-align:center;
  display: flex;
  justify-content: space-between;
}
#details div{
  flex: 1;
  font-size: small;
}
